<html>

<head>
	{% if title %}
	<title>{{ title }} - microblog</title>
	{% else %}
	<title>microblog</title>
	{% endif %}
</head>

<body>
	<script>

		function updateURLParameter(url, param, paramVal){
		var newAdditionalURL = "";
		var tempArray = url.split("?");
		var baseURL = tempArray[0];
		var additionalURL = tempArray[1];
		var temp = "";
		if (additionalURL) {
		tempArray = additionalURL.split("&");
		for (i=0; i<tempArray.length; i++){ if(tempArray[i].split('=')[0] != param){
						newAdditionalURL += temp + tempArray[i];
						temp = "&";
					}
				}
			}

			var rows_txt = temp + "" + param + "=" + paramVal;
			return baseURL + "?" + newAdditionalURL + rows_txt;
		}
		
		function developSelectChangeValue() {
			//Getting Value
			//var selValue = document.getElementById("singleSelectDD").value;
			var url = window.location.href
			// Developer
			var selObj = document.getElementById("developer");
			var selValue = selObj.options[selObj.selectedIndex].value;
			url = updateURLParameter(url, 'dev', selValue);
			// Housing_complex
			var selObj = document.getElementById("housing_complex");
			var selValue = 0;
			url = updateURLParameter(url, 'hc', selValue);
			// House
			var selObj = document.getElementById("house");
			var selValue = 0;
			url = updateURLParameter(url, 'h', selValue);

			// Redirect
			window.location.replace(url);
		}

		function housingComplexSelectChangeValue() {
			//Getting Value
			//var selValue = document.getElementById("singleSelectDD").value;
			var url = window.location.href
			// Developer
			var selObj = document.getElementById("developer");
			var selValue = selObj.options[selObj.selectedIndex].value;
			url = updateURLParameter(url, 'dev', selValue);
			// Housing_complex
			var selObj = document.getElementById("housing_complex");
			var selValue = selObj.options[selObj.selectedIndex].value;
			url = updateURLParameter(url, 'hc', selValue);
			// House
			var selObj = document.getElementById("house");
			var selValue = 0;
			url = updateURLParameter(url, 'h', selValue);

			// Redirect
			window.location.replace(url);
		}

		function houseSelectChangeValue() {
			//Getting Value
			//var selValue = document.getElementById("singleSelectDD").value;
			var url = window.location.href
			// Developer
			var selObj = document.getElementById("developer");
			var selValue = selObj.options[selObj.selectedIndex].value;
			url = updateURLParameter(url, 'dev', selValue);
			// Housing_complex
			var selObj = document.getElementById("housing_complex");
			var selValue = selObj.options[selObj.selectedIndex].value;
			url = updateURLParameter(url, 'hc', selValue);
			// House
			var selObj = document.getElementById("house");
			var selValue = selObj.options[selObj.selectedIndex].value;
			url = updateURLParameter(url, 'h', selValue);

			// Redirect
			window.location.replace(url);
		}
	</script>

	<div>
		Microblog:
		<a href="{{ url_for('index') }}">Home</a>
		<a href="{{ url_for('login') }}">Login</a>
		<a href="{{ url_for('real_estate_base', dev='1') }}">Real Estate Base</a>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</body>

</html>