{% extends "layout.html" %}

{% block content %}
<h1>
	Геофильтры
</h1>

<h3>Направления</h3>
{% for district_direction in district_direction %}
<span>
	{{ district_direction.name }}
	<a href="{{ url_for('housing_complex', dd=district_direction.id) }}"><span class="badge badge-info">=></span></a>
</span>
{% endfor %}

<h3>АТД</h3>
{% for atd in atd %}
<span>
	{{ atd.name }}
	<a href="{{ url_for('housing_complex', atd=atd.id) }}"><span class="badge badge-info">=></span></a>
</span>
{% endfor %}

<h3>Регионы города</h3>
{% for region_city in region_city %}
<span>
	{{ region_city.name }}
	<a href="{{ url_for('housing_complex', rcity=region_city.id) }}"><span class="badge badge-info">=></span></a>
</span>
{% endfor %}

{% endblock %}