{% extends "layout.html" %}

{% block content %}
<h1>
	застройщики
</h1>


<table class="table table-striped table-bordered table-sm">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Название</th>
		</tr>
	</thead>
	<tbody>
		{% for developer in developer %}
		<tr>
			<td>{{ developer.id}}: {{ developer.name}} 
				<a href="{{ url_for('developer', developer_id=developer.id) }}"><span class="badge badge-info">список ЖК</span></a>
				<a href="{{ url_for('real_estate_base', dev=developer.id) }}"><span class="badge badge-success">аналитика</span></a>

			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}