<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="container">
			<nav class='nav nav-tabs'>
				<a 
				{%  if request.path ==  url_for('quick_action') %}	class="nav-link active"	{% else %} class="nav-link"	{% endif %}
				 href="{{ url_for('quick_action') }}">Быстрые действия</a>
				<a 
				{%  if request.path ==  url_for('developer') %}	class="nav-link active"	{% else %} class="nav-link"	{% endif %}
				 href="{{ url_for('developer') }}">Застройщик</a>
				<a 
				{%  if request.path ==  url_for('housing_complex') %} class="nav-link active" {% else %} class="nav-link" {% endif %}
				href="{{ url_for('housing_complex') }}">ЖК</a>
				<a {%  if request.path ==  url_for('house') %} class="nav-link active" {% else %} class="nav-link" {% endif %}
				href="{{ url_for('house') }}">Корпуса</a>
				<a {%  if request.path ==  url_for('geo') %} class="nav-link active" {% else %} class="nav-link" {% endif %}
				href="{{ url_for('geo') }}">Геофильтры</a>
				<a 
				{%  if request.path ==  url_for('real_estate_base') %} class="nav-link active" {% else %} class="nav-link" {% endif %}
				href="{{ url_for('real_estate_base', 
				dev='0', 
				hc='0',
				h='0',
				ot=-1,
				room='-1',
				dec='-1',
				price_min='2000000',
				price_max='50000000',
				square_min='-1',
				square_max='200',
				is_studio=-1,
				hclass=-1,
				agr=-1,
				stage=-1,
				zone=-1,
				rcity=-1,
				atd=-1,
				dd=-1,
				dc_min=-1,
				dc_max=-1
				)}}">Аналитика</a>
			</nav>
		</div>
		<div class="container">
			<div class='row'>
				<div class='col-sm'>
					{% block content %}{% endblock %}
				</div>
			</div>
			<div class='row'>
				<div class='col-sm'>
					{% block image %} {% endblock %}
				</div>
			</div>
			<div class="row">
				{% block table_housing_complex %} {% endblock %}
			</div>
			{% set cur_housing_complex_id = request.args.get('hc')|int %}

			{% if cur_housing_complex_id > 0 %}
			<div class="row">
				{% block table %} {% endblock %}
			</div>
			{% endif %}
			<div class="footer" style="height:100px;">
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="{{ url_for('static', filename='js/init.js') }}">
		</script>
	</body>
</html>

